<p>producto agregado al carrito!</p>
<div class="container">
  <div class="row">
    
    <div class="form-group">
      <div class="form-group">
        <input type="text" name="id" [(ngModel)]="shoppingCart.id"
               placeholder="Enter shoppcart type " class="form-control col-md-12 " />
      </div>
      <button type="submit" class="btn btn-primary">Add cart</button>
      <a href="@{http://localhost:8080/api/v4/add}"
         class="btn btn-primary">test</a>

    </div>

      
    
  </div>
</div>
